*{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}
body{
	background: rgb(32, 32, 32);
	padding: 80px 400px;
}
.container{
	height: 90vh;
	background: rgb(43, 47, 50);
}
.menus_all{
	width: 100%;
	height: 100%;
	margin: auto;
	padding-top: 0.5px;
	border-right: 15px solid rgb(45, 58, 67);
}
.menus_all > div{
	margin: 3% 8%;
}
.menu{
	border-top: 6px groove rgb(57, 61, 64);
	border-left: 6px groove rgb(57, 61, 64);
	border-bottom: 6px groove rgb(57, 61, 64);
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	width: 82%;
	height: 9%;
	display: flex;
	align-items: center;
	margin-top: 1px;
	padding-left: 25px;
	cursor: pointer;
	color: rgb(201, 199, 200);
	font-size: 36px;
	transition: 1s;
}
.menu:hover{
	color: rgb(255, 255, 253);
	background: rgb(32, 36, 39);
	border-top: 6px outset rgb(25, 26, 28);
	border-left: 6px outset rgb(25, 26, 28);
	border-bottom: 6px outset rgb(25, 26, 28);
}
