**{
	margin: 0px;
	padding: 0px;
	}
	body{
	background: rgb(40, 40, 40);
	}
	.form{
	width: 900px;
	margin-top: 25px;
	margin-left: 310px;
	border: 4px groove rgb(40, 40, 40);
	background: rgb(28, 28, 28);
	}
	.form__header{
	display: flex;
	height: 40px;
	background: rgb(40, 40, 40);
	align-items: center;
	padding-left: 5px;
	color: rgb(255, 245, 207);
	font-size: 22px;
	}
	.body_form{
	border: 4px groove rgb(40, 40, 40);
	width: 100wv;
	}
	.form__item{
	display: flex;
	margin: 17px 0 17px 55px;
	justify-content: safe flex-end;
	color: white;
	font-size: 20px;
	}
	.form__item input[type="text"]{
	width: 450px;
	margin-right: 250px;
	margin-left: 30px;
	height: 50px;
	background: rgb(44, 44, 44);
	border: 2px inset rgb(40, 40, 40);
	color: white;
	font-size: 20px;
	}
	.form__item1{
	display: flex;
	margin: 17px 670px 17px 0;
	justify-content: safe flex-end;
	color: white;
	font-size: 20px;
	}
	.form__item2{
	display: flex;
	margin: 17px 540px 17px 0;
	justify-content: safe flex-end;
	color: white;
	font-size: 20px;
	}
	.banner__btn{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
	background: red;
	border: 2px outset red;
	padding: 10px 20px;
	position: relative;
	width: 170px;
	}
	.banner__btn a{
	color: white;
	text-decoration: none;
	font-size: 20px;
	}
    .switcher{
        display: flex;
    }
    .type{
        display: flex;
    }
    .hidden{
        display: none;
    }
    .block{
        height: 200px;
        width: 200px;
        border: 1px solid black;
    }
    